<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Welcome to garmin third party webiste</title>

</head>

<body>

	<div style="margin-left: 30%">

		<h1>Welcome to garmin third party webiste</h1>
		<h2>you have authorised this website to get the garmin connect data</h2>
		<h3 id="p1">This window will be close after 5 seconds!</h3>
	</div>
	<script>
		var i = 5;
		function clock(){
			i = i - 1;
			document.getElementById("p1").innerText =  "This window will be close after " + i + " seconds!";
			if (i > 0) {
				setTimeout("clock();",1000);
			} else {
				self.close();
			}
		}
		clock();
	</script>
</body>
</html>